.banner
  img.banner__element.banner__element--el-4(
    src='./assets/image/ellipse.svg',
    alt='Banner image',
    title='Banner image'
  )
  .container.banner__inner
    .banner__content
      img.banner__element.banner__element--el-1(
        src='./assets/image/highlight-10.svg',
        alt='Banner image',
        title='Banner image'
      )
      h1.banner__title Learn without limits
      p.banner__description
        | Start, switch, or advance your career with more than 5,800 courses, Professional Certificates, and degrees from world-class universities and companies.
        br
        | Learning with us is easy because we have
      .banner__features
        .banner__feature
          .banner__feature-icon
            img(src='./assets/image/book.svg', alt='Feature 1')
          .banner__feature-text
            p.banner__feature-description
              | Big library
        .banner__feature
          .banner__feature-icon
            img(src='./assets/image/dollar-sign.svg', alt='Feature 2')
          .banner__feature-text
            p.banner__feature-description
              | Low prices
        .banner__feature
          .banner__feature-icon
            img(src='./assets/image/mingcute-certificate-line.svg', alt='Feature 3')
          .banner__feature-text
            p.banner__feature-description
              | Professional certificates
      .banner_action
        a.button.banner__action-link(href='#') Start learning
      img.banner__element.banner__element--el-2(
        src='./assets/image/line-6.svg',
        alt='Banner image',
        title='Banner image'
      )
      img.banner__element.banner__element--el-3(
        src='./assets/image/frame.svg',
        alt='Banner image',
        title='Banner image'
      )
    .banner__thumb
      img.banner__image(
        src='./assets/image/banner-img.png',
        alt='thumb student',
        title='thumb student'
      )
